<%include partials/header%>
      <h1>Registered</h1>
     
  <form method="POST"  action="/users/add">
  <label1>username</label1>
  <input type="text" name="username">
  <br><br>
  <label1>password</label1>
  <input type="text" name="password">
  <br><br><br>
  <input type="button" value="Log in" >
  </form>
  <%include partials/footer%>