<!DOCTYPE html>
<html>
<head>
<title>Hello</title>
<link rel="stylesheet" href="/css/bootstrap.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<h1>Welcome</h1>
</head>
<body>
<br>
<br>
<input type="button" value="Register" onclick="location.href='/users/register' "</button> <br><br><br> <input type="button" value="LogIn" onclick="location.href='/users/login' "</button>

  </body>
</html>

</body>
</html>