<!DOCTYPE html>
<html>
<head>
<title>Registered</title>
<h1>Success</h1>
</head>
<body>
You have successfully registered ! <br><br> <input type="button" value="LogIn" onclick="location.href='/users/login' "</button> 

</body>
</html>