<form method="POST"  action="/users/add">
<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file">
    <input type="submit" value="Submit">
    <img src="/image.png" />
</form>
<br>
<br>

  <label1>Name</label1>
  <input type="text" name="Name">
  <br><br>
  <input type="button" value="Create Portofolio" onclick="location.href='/users/confirmcr' "</button>
  
  
  </form>