<html> 


<FORM action="file:///android_asset/www/Browse.html" method="post">

    <P>
    <LABEL for="firstname">Username </LABEL>
              <INPUT type="text" id="Username" required><BR>
              <br>
              <br>
    <LABEL for="lastname">Password </LABEL>
              <INPUT type="text" id="Password" required><BR>
              <br>
              <br>
              <p>Please submit then press login</p>
        <INPUT type="submit" value="submit" >
<input type="button" value="Login" onclick="location.href='/users/create' "</button>

        
    </P>
 </FORM>
</html>

  